In [2]:
import pandas as pd

# Replace 'path_to_file' with the actual path to your CSV file
df = pd.read_csv('power-cons.csv', delimiter=',')

In [195]:
df

,Circle,Division,SubDivision,Section,Area,CatCode,CatDesc,TotServices,BilledServices,Units,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,WARANGAL,WARANGAL,MULUGU ROAD,MATWADA,MATWADA,3.0,INDUSTRIAL,99.0,61.0,29225.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KAMAREDDY,YELLAREDDY,YELLAREDDY,YELLAREDDY,THIMMAPOOR,3.0,INDUSTRIAL,2.0,2.0,1156.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KAMAREDDY,YELLAREDDY,YELLAREDDY,YELLAREDDY,HAJIPOOR,3.0,INDUSTRIAL,3.0,2.0,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ADILABAD,UTNOOR,UTNOOR,GUDIHATNOOR,GUDIHATHNOOR,3.0,INDUSTRIAL,18.0,13.0,15698.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KAMAREDDY,YELLAREDDY,YELLAREDDY,NAGIREDDIPET,MASANPALLI (M),3.0,INDUSTRIAL,1.0,1.0,275.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [196]:
df = df.drop_duplicates()
df

,Circle,Division,SubDivision,Section,Area,CatCode,CatDesc,TotServices,BilledServices,Units,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,WARANGAL,WARANGAL,MULUGU ROAD,MATWADA,MATWADA,3.0,INDUSTRIAL,99.0,61.0,29225.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KAMAREDDY,YELLAREDDY,YELLAREDDY,YELLAREDDY,THIMMAPOOR,3.0,INDUSTRIAL,2.0,2.0,1156.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KAMAREDDY,YELLAREDDY,YELLAREDDY,YELLAREDDY,HAJIPOOR,3.0,INDUSTRIAL,3.0,2.0,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ADILABAD,UTNOOR,UTNOOR,GUDIHATNOOR,GUDIHATHNOOR,3.0,INDUSTRIAL,18.0,13.0,15698.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KAMAREDDY,YELLAREDDY,YELLAREDDY,NAGIREDDIPET,MASANPALLI (M),3.0,INDUSTRIAL,1.0,1.0,275.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262713,WARANGAL,NARSAMPET,NARSAMPET(TOWN,DUGGONDI,THOGARAIMLLAIAHPALLY,3.0,INDUSTRIAL,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262714,WARANGAL,NARSAMPET,NARSAMPET(TOWN,DUGGONDI,VENKATAPOOR,3.0,INDUSTRIAL,7.0,5.0,2693.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262715,WARANGAL,RURAL WARANGAL,KAPULAKANAPARTHY,MACHAPOOR,SHIVATHANDA,3.0,INDUSTRIAL,1.0,1.0,1694.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262716,WARANGAL,RURAL WARANGAL,KAPULAKANAPARTHY,MACHAPOOR,SHYAMPET,3.0,INDUSTRIAL,4.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [197]:
df.info

<bound method DataFrame.info of            Circle        Division       SubDivision       Section  \
0        WARANGAL        WARANGAL       MULUGU ROAD       MATWADA
1       KAMAREDDY      YELLAREDDY        YELLAREDDY    YELLAREDDY
2       KAMAREDDY      YELLAREDDY        YELLAREDDY    YELLAREDDY
3        ADILABAD          UTNOOR            UTNOOR   GUDIHATNOOR
4       KAMAREDDY      YELLAREDDY        YELLAREDDY  NAGIREDDIPET
...           ...             ...               ...           ...
262713   WARANGAL       NARSAMPET    NARSAMPET(TOWN      DUGGONDI
262714   WARANGAL       NARSAMPET    NARSAMPET(TOWN      DUGGONDI
262715   WARANGAL  RURAL WARANGAL  KAPULAKANAPARTHY     MACHAPOOR
262716   WARANGAL  RURAL WARANGAL  KAPULAKANAPARTHY     MACHAPOOR
262717        NaN             NaN               NaN           NaN

                        Area  CatCode     CatDesc  TotServices  \
0                    MATWADA      3.0  INDUSTRIAL         99.0
1                 THIMMAPOOR      3.0  INDUSTRIAL          2.0
2                   HAJIPOOR      3.0  INDUSTRIAL          3.0
3               GUDIHATHNOOR      3.0  INDUSTRIAL         18.0
4             MASANPALLI (M)      3.0  INDUSTRIAL          1.0
...                      ...      ...         ...          ...
262713  THOGARAIMLLAIAHPALLY      3.0  INDUSTRIAL          1.0
262714           VENKATAPOOR      3.0  INDUSTRIAL          7.0
262715           SHIVATHANDA      3.0  INDUSTRIAL          1.0
262716              SHYAMPET      3.0  INDUSTRIAL          4.0
262717                   NaN      NaN         NaN          NaN

        BilledServices    Units  ...  Unnamed: 13 Unnamed: 14  Unnamed: 15  \
0                 61.0  29225.0  ...          NaN         NaN          NaN
1                  2.0   1156.0  ...          NaN         NaN          NaN
2                  2.0     84.0  ...          NaN         NaN          NaN
3                 13.0  15698.0  ...          NaN         NaN          NaN
4                  1.0    275.0  ...          NaN         NaN          NaN
...                ...      ...  ...          ...         ...          ...
262713             1.0      0.0  ...          NaN         NaN          NaN
262714             5.0   2693.0  ...          NaN         NaN          NaN
262715             1.0   1694.0  ...          NaN         NaN          NaN
262716             1.0      1.0  ...          NaN         NaN          NaN
262717             NaN      NaN  ...          NaN         NaN          NaN

        Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  \
0               NaN          NaN          NaN          NaN          NaN
1               NaN          NaN          NaN          NaN          NaN
2               NaN          NaN          NaN          NaN          NaN
3               NaN          NaN          NaN          NaN          NaN
4               NaN          NaN          NaN          NaN          NaN
...             ...          ...          ...          ...          ...
262713          NaN          NaN          NaN          NaN          NaN
262714          NaN          NaN          NaN          NaN          NaN
262715          NaN          NaN          NaN          NaN          NaN
262716          NaN          NaN          NaN          NaN          NaN
262717          NaN          NaN          NaN          NaN          NaN

        Unnamed: 21  Unnamed: 22
0               NaN          NaN
1               NaN          NaN
2               NaN          NaN
3               NaN          NaN
4               NaN          NaN
...             ...          ...
262713          NaN          NaN
262714          NaN          NaN
262715          NaN          NaN
262716          NaN          NaN
262717          NaN          NaN

[261798 rows x 23 columns]>

In [198]:
df.describe()

,CatCode,TotServices,BilledServices,Units,Load,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
count,261797.0,261797.000000,261797.000000,2.617970e+05,261797.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,3.0,7.802152,4.965718,4.672936e+03,180.746493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,18.125570,12.113832,2.120085e+04,544.154854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3.0,1.000000,0.000000,-7.456210e+05,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,3.0,1.000000,1.000000,2.300000e+01,15.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,3.0,3.000000,2.000000,4.770000e+02,49.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3.0,7.000000,4.000000,2.452000e+03,139.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,3.0,352.000000,252.000000,1.135045e+06,12345.450000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [199]:
df.isnull().sum()

Circle                 1
Division               1
SubDivision            1
Section                1
Area                   1
CatCode                1
CatDesc                1
TotServices            1
BilledServices         1
Units                  1
Load                   1
date                   1
Unnamed: 12       261798
Unnamed: 13       261798
Unnamed: 14       261798
Unnamed: 15       261798
Unnamed: 16       261798
Unnamed: 17       261798
Unnamed: 18       261798
Unnamed: 19       261798
Unnamed: 20       261798
Unnamed: 21       261798
Unnamed: 22       261798
dtype: int64

In [200]:
# Drop columns with mostly null values
df.dropna(axis=1, thresh=len(df) * 0.9, inplace=True)

/var/folders/rk/r1q3rmrj2vv6f28sr3qwckb40000gn/T/ipykernel_54917/1117901791.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(axis=1, thresh=len(df) * 0.9, inplace=True)

In [201]:
df

,Circle,Division,SubDivision,Section,Area,CatCode,CatDesc,TotServices,BilledServices,Units,Load,date
0,WARANGAL,WARANGAL,MULUGU ROAD,MATWADA,MATWADA,3.0,INDUSTRIAL,99.0,61.0,29225.0,1794.585,Jan-19
1,KAMAREDDY,YELLAREDDY,YELLAREDDY,YELLAREDDY,THIMMAPOOR,3.0,INDUSTRIAL,2.0,2.0,1156.0,9.000,Jan-19
2,KAMAREDDY,YELLAREDDY,YELLAREDDY,YELLAREDDY,HAJIPOOR,3.0,INDUSTRIAL,3.0,2.0,84.0,20.000,Jan-19
3,ADILABAD,UTNOOR,UTNOOR,GUDIHATNOOR,GUDIHATHNOOR,3.0,INDUSTRIAL,18.0,13.0,15698.0,331.000,Jan-19
4,KAMAREDDY,YELLAREDDY,YELLAREDDY,NAGIREDDIPET,MASANPALLI (M),3.0,INDUSTRIAL,1.0,1.0,275.0,10.000,Jan-19
...,...,...,...,...,...,...,...,...,...,...,...,...
262713,WARANGAL,NARSAMPET,NARSAMPET(TOWN,DUGGONDI,THOGARAIMLLAIAHPALLY,3.0,INDUSTRIAL,1.0,1.0,0.0,5.000,Jan-24
262714,WARANGAL,NARSAMPET,NARSAMPET(TOWN,DUGGONDI,VENKATAPOOR,3.0,INDUSTRIAL,7.0,5.0,2693.0,95.000,Jan-24
262715,WARANGAL,RURAL WARANGAL,KAPULAKANAPARTHY,MACHAPOOR,SHIVATHANDA,3.0,INDUSTRIAL,1.0,1.0,1694.0,49.510,Jan-24
262716,WARANGAL,RURAL WARANGAL,KAPULAKANAPARTHY,MACHAPOOR,SHYAMPET,3.0,INDUSTRIAL,4.0,1.0,1.0,23.645,Jan-24
262717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [202]:
df.isnull().sum()

Circle            1
Division          1
SubDivision       1
Section           1
Area              1
CatCode           1
CatDesc           1
TotServices       1
BilledServices    1
Units             1
Load              1
date              1
dtype: int64

In [204]:
# Drop row with row number 262752
df.drop(262717, inplace=True)

/var/folders/rk/r1q3rmrj2vv6f28sr3qwckb40000gn/T/ipykernel_54917/4243900712.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(262717, inplace=True)

In [205]:
df.isnull().sum()

Circle            0
Division          0
SubDivision       0
Section           0
Area              0
CatCode           0
CatDesc           0
TotServices       0
BilledServices    0
Units             0
Load              0
date              0
dtype: int64

In [206]:
df

,Circle,Division,SubDivision,Section,Area,CatCode,CatDesc,TotServices,BilledServices,Units,Load,date
0,WARANGAL,WARANGAL,MULUGU ROAD,MATWADA,MATWADA,3.0,INDUSTRIAL,99.0,61.0,29225.0,1794.585,Jan-19
1,KAMAREDDY,YELLAREDDY,YELLAREDDY,YELLAREDDY,THIMMAPOOR,3.0,INDUSTRIAL,2.0,2.0,1156.0,9.000,Jan-19
2,KAMAREDDY,YELLAREDDY,YELLAREDDY,YELLAREDDY,HAJIPOOR,3.0,INDUSTRIAL,3.0,2.0,84.0,20.000,Jan-19
3,ADILABAD,UTNOOR,UTNOOR,GUDIHATNOOR,GUDIHATHNOOR,3.0,INDUSTRIAL,18.0,13.0,15698.0,331.000,Jan-19
4,KAMAREDDY,YELLAREDDY,YELLAREDDY,NAGIREDDIPET,MASANPALLI (M),3.0,INDUSTRIAL,1.0,1.0,275.0,10.000,Jan-19
...,...,...,...,...,...,...,...,...,...,...,...,...
262712,WARANGAL,NARSAMPET,NARSAMPET(TOWN,DUGGONDI,REBALLY,3.0,INDUSTRIAL,1.0,1.0,109.0,5.000,Jan-24
262713,WARANGAL,NARSAMPET,NARSAMPET(TOWN,DUGGONDI,THOGARAIMLLAIAHPALLY,3.0,INDUSTRIAL,1.0,1.0,0.0,5.000,Jan-24
262714,WARANGAL,NARSAMPET,NARSAMPET(TOWN,DUGGONDI,VENKATAPOOR,3.0,INDUSTRIAL,7.0,5.0,2693.0,95.000,Jan-24
262715,WARANGAL,RURAL WARANGAL,KAPULAKANAPARTHY,MACHAPOOR,SHIVATHANDA,3.0,INDUSTRIAL,1.0,1.0,1694.0,49.510,Jan-24
262716,WARANGAL,RURAL WARANGAL,KAPULAKANAPARTHY,MACHAPOOR,SHYAMPET,3.0,INDUSTRIAL,4.0,1.0,1.0,23.645,Jan-24

In [207]:
# Assuming df is your cleaned DataFrame
df.to_csv('cleaned_data.csv', index=False)

In [3]:
df.nunique()

Circle               16
Division             39
SubDivision         125
Section             455
Area               4222
CatCode               1
CatDesc               1
TotServices         233
BilledServices      195
Units             27947
Load               7289
date                 60
Unnamed: 12           0
Unnamed: 13           0
Unnamed: 14           0
Unnamed: 15           0
Unnamed: 16           0
Unnamed: 17           0
Unnamed: 18           0
Unnamed: 19           0
Unnamed: 20           0
Unnamed: 21           0
Unnamed: 22           0
dtype: int64

In [13]:
# Group data by 'Area' and calculate statistics
area_stats = df.groupby('Area')['Units'].agg(['mean', 'max']).reset_index()
area_stats.rename(columns={'mean': 'Mean_Units', 'max': 'Max_Units'}, inplace=True)

# Group data by 'ConnectionType' and calculate statistics
connection_stats = df.groupby('CatCode')['Units'].agg(['mean', 'max']).reset_index()
connection_stats.rename(columns={'mean': 'Mean_Units', 'max': 'Max_Units'}, inplace=True)

# Trend analysis - You can use time series analysis techniques such as rolling mean or exponential smoothing

# Plotting the trends
plt.figure(figsize=(12, 6))

# Trend by 'Area'
for area, data in df.groupby('Area'):
    data = data.set_index('date')
    data['Units'].plot(label=area)

plt.title('Trend of Units Consumption by Area')
plt.xlabel('Date')
plt.ylabel('Units')
plt.legend()
plt.show()

# Trend by 'ConnectionType'
plt.figure(figsize=(12, 6))
for connection, data in df.groupby('CatCode'):
    data = data.set_index('date')
    data['Units'].plot(label=connection)

plt.title('Trend of Units Consumption by Connection Type')
plt.xlabel('Date')
plt.ylabel('Units')
plt.legend()
plt.show()

KeyError: "None of ['date'] are in the columns"